body {
    text-align: center;
}

.p-a-0 {
    padding: 0 !important;;
}

.m-a-0 {
    margin: 0 !important;
}

.header {
    background: #666;
    color: #fff;
    padding: 15px 0;
    margin-bottom: 15px;
}